@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";
@import "~slick-carousel/slick/slick-theme";
@import "~slick-carousel/slick/slick";
@import "~magnific-popup/dist/magnific-popup";
@import "~lightgallery/dist/css/lightgallery.min";
@import "~lightslider/dist/css/lightslider.min";
@import "~aos/dist/aos";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/*";
@import "components/*";
@import "layouts/*";
@import "builder/*";

@font-face {
  font-family: "Manrope3";
  src: url("../fonts/Manrope3-Light.eot");
  src:
    local("Manrope3 Light"),
    local("Manrope3-Light"),
    url("../fonts/Manrope3-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope3-Light.woff2") format("woff2"),
    url("../fonts/Manrope3-Light.woff") format("woff"),
    url("../fonts/Manrope3-Light.ttf") format("truetype"),
    url("../fonts/Manrope3-Light.svg#Manrope3-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope3";
  src: url("../fonts/Manrope3-Regular.eot");
  src:
    local("Manrope3 Regular"),
    local("Manrope3-Regular"),
    url("../fonts/Manrope3-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope3-Regular.woff2") format("woff2"),
    url("../fonts/Manrope3-Regular.woff") format("woff"),
    url("../fonts/Manrope3-Regular.ttf") format("truetype"),
    url("../fonts/Manrope3-Regular.svg#Manrope3-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope3";
  src: url("../fonts/Manrope3-Bold.eot");
  src:
    local("Manrope3 Bold"),
    local("Manrope3-Bold"),
    url("../fonts/Manrope3-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope3-Bold.woff2") format("woff2"),
    url("../fonts/Manrope3-Bold.woff") format("woff"),
    url("../fonts/Manrope3-Bold.ttf") format("truetype"),
    url("../fonts/Manrope3-Bold.svg#Manrope3-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
