.custom-border-top {
  border-top-width: 2px;
}

.custom-border-bottom {
  border-bottom-width: 2px;
}

.custom-border-right {
  border-right-width: 2px;
}

.custom-border-left {
  border-left-width: 2px;
}

.border-top-double {
  border-top-style: double;
}

.border-top-dotted {
  border-top-style: dotted;
}

.border-top-solid {
  border-top-style: solid;
}

.border-top-dashed {
  border-top-style: dashed;
}


.border-bottom-double {
  border-bottom-style: double;
}

.border-bottom-dotted {
  border-bottom-style: dotted;
}

.border-bottom-solid {
  border-bottom-style: solid;
}

.border-bottom-dashed {
  border-bottom-style: dashed;
}

.border-right-double {
  border-right-style: double;
}

.border-right-dotted {
  border-right-style: dotted;
}

.border-right-solid {
  border-right-style: solid;
}

.border-right-dashed {
  border-right-style: dashed;
}

.border-left-double {
  border-left-style: double;
}

.border-left-dotted {
  border-left-style: dotted;
}

.border-left-solid {
  border-left-style: solid;
}

.border-left-dashed {
  border-left-style: dashed;
}

.icon-box {
  font-size: 70px;
}